/* .apptop {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    padding: 0.1rem;
} */

.maingrid {
    display: grid;
    overflow-y: auto;
    /* grid-template-rows:  700px 200px 600px; */
    padding: 8px;
    border-style: solid;
    border-radius: 6px;
    width: 100%;
}

.usergrid {
    /* min-height: 800px; */
    border-style: solid;
    border-radius: 6px;
}

.aigrid {
    border-style: solid;
    border-radius: 6px;
}

.photogrid {
    border-style: solid;
    border-radius: 6px;
}

.appbg {
    background-color: var(--color-background);
}

/* @media (min-width: 1216px) {
    .apptop {
        flex-direction: row;
    }
} */