.logo {
    display: flex;
    flex-direction: row;
    margin-left: -8px;
}

.logo button {
    padding: 0;
}

/* .logo svg:hover {
    transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1.25) scaleY(1.25);
    fill: var(--color-icon-hover)
} */